div.et_pb_section.et_pb_section_0 {
    background-image: url(./background.png) !important;
}

.et_pb_section_0 {
    min-height: 650px;
}

.et_pb_section_0.et_pb_section {
    padding-bottom: 0px;
    margin-top: -29px;
    margin-bottom: 26px;
}

.et_pb_row_0.et_pb_row {
    margin-right: auto !important;
    margin-bottom: -22px !important;
    margin-left: auto !important;
}

.et_pb_text_0 {
    font-size: 24px;
}

.et_pb_text_0 h1 {
    font-family: "La Belle Aurore", Helvetica, Arial, Lucida, sans-serif;
    font-size: 100px;
    color: #000000 !important;
}

.et_pb_image_0 {
    text-align: center;
}

.et_pb_image_1 {
    margin-top: -96px !important;
    width: 30%;
    text-align: center;
}

.et_pb_section_1.et_pb_section {
    padding-top: 0px;
    padding-bottom: 0px;
}

.et_pb_row_1.et_pb_row {
    padding-bottom: 46px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-bottom: 46px;
}

.et_pb_text_1.et_pb_text,
.et_pb_text_4.et_pb_text,
.et_pb_text_3.et_pb_text {
    color: #000000 !important;
}

.et_pb_text_1 {
    font-family: "Bad Script", Helvetica, Arial, Lucida, sans-serif;
    font-size: 26px;
}

.et_pb_image_2 {
    padding-bottom: 0px;
    margin-top: -23px !important;
    margin-bottom: -108px !important;
    width: 13%;
    text-align: center;
}

.et_pb_section_2.et_pb_section {
    padding-top: 26px;
    padding-bottom: 100px;
}

.et_pb_text_2.et_pb_text {
    color: #ffffff !important;
}

.et_pb_text_2 {
    font-family: "Bad Script", Helvetica, Arial, Lucida, sans-serif;
    font-size: 18px;
    line-height: 2.5em;
    width: 100%;
    max-width: 600px;
}

.et_pb_text_2 h1 {
    font-family: "Bad Script", Helvetica, Arial, Lucida, sans-serif;
}

.et_pb_text_2 h2 {
    font-family: "Bad Script", Helvetica, Arial, Lucida, sans-serif;
    font-size: 60px;
    color: #000000 !important;
    letter-spacing: 1px;
    line-height: 2.5em;
    text-align: center;
}

.et_pb_text_4,
.et_pb_text_3 {
    font-family: "Bad Script", Helvetica, Arial, Lucida, sans-serif;
    font-weight: 300;
    font-size: 26px;
}

.et_pb_image_3 .et_pb_image_wrap {
    border-radius: 50px;
    overflow: hidden;
}

.et_pb_image_4,
.et_pb_image_3 {
    text-align: left;
    margin-left: 0;
}

.et_pb_row_2.et_pb_row {
    padding-top: 9px !important;
    padding-right: 0px !important;
    padding-bottom: 40px !important;
    padding-left: 0px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding-top: 9px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 0px;
}

.et_pb_image_3.et_pb_module,
.et_pb_text_2.et_pb_module {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media only screen and (min-width: 981px) {
    .et_pb_image_3 {
        width: 56%;
    }

    .et_pb_image_XX {
        width: 20%;
    }
}

@media only screen and (max-width: 980px) {
    .et_pb_image_0 {
        width: 35%;
    }

    .et_pb_image_0 .et_pb_image_wrap img,
    .et_pb_image_1 .et_pb_image_wrap img,
    .et_pb_image_2 .et_pb_image_wrap img,
    .et_pb_image_3 .et_pb_image_wrap img,
    .et_pb_image_4 .et_pb_image_wrap img {
        width: auto;
    }

    .et_pb_image_2 {
        margin-top: -23px !important;
        margin-bottom: -108px !important;
    }

    .et_pb_image_3 {
        width: 56%;
    }
}

@media only screen and (max-width: 767px) {
    .et_pb_image_0 {
        width: 100%;
    }

    .et_pb_image_0 .et_pb_image_wrap img,
    .et_pb_image_1 .et_pb_image_wrap img,
    .et_pb_image_2 .et_pb_image_wrap img,
    .et_pb_image_3 .et_pb_image_wrap img,
    .et_pb_image_4 .et_pb_image_wrap img {
        width: auto;
    }

    .et_pb_image_2 {
        margin-top: -23px !important;
        margin-bottom: -108px !important;
    }

    .et_pb_image_3 {
        width: 96%;
    }
}
